@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rowdies&display=swap');


.home{
    font-family: 'Pacifico', cursive;
    font-family: 'Rowdies', sans-serif;
   

}
p{
    font-family: 'Pacifico', cursive;
    font-family: 'Rowdies', sans-serif;
    color: white;
}
a{
    font-family: 'Pacifico', cursive;
    font-family: 'Rowdies', sans-serif;
}

